@use '../util/' as u;

.countdown {
  border: 1px solid white;
  padding: u.rem(7);
  margin-inline: u.rem(15);
  margin-block-start: u.rem(30);
  margin-block-end: u.rem(30);
  border-radius: u.rem(50);
  color: --var(main-text-color);
  text-align: center;

  span {
    font-size: u.rem(25);
    font-weight: bold;
  }
}
