@use '../util/' as u;

.voteContainer {
  width: 100%;

  &.success {
    display: flex;
    flex-direction: column;
    gap: u.rem(10);
  }

  &__artistContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__rowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--gradientContainer-bg);
    padding-block: u.rem(7);
    padding-inline: u.rem(10);
  }

  &__countryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: u.rem(7);

    h3 {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &__countryFlag {
    width: u.rem(40);
    height: u.rem(40);
    border-radius: u.rem(15);
    object-fit: cover;
  }

  &__pointsContainer {
    display: flex;
    flex-direction: row;
    gap: u.rem(7);
    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      font-size: 1rem;
      font-weight: 700;
      font-family: Open Sans;
      width: 40px;
      height: 40px;
      padding: u.rem(2);
    }

    &.friend {
      span {
        background-color: var(--votingbox-friend-bg);
        border: none;
        color: var(--button-text);
      }
    }

    select {
      width: u.rem(40);
      height: u.rem(40);
      border: none;
      background-color: var(--button);
      color: var(--button-text);
      font-size: 1rem;
      font-weight: 700;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
    }
  }

  &__lowerContainer {
    width: 100%;
    background-color: var(--lowerContainer-bg);
    padding: u.rem(10);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__infoContainer {
    &__text {
      display: flex;
      flex-direction: column;
      text-align: left;
      max-width: u.rem(200);
      gap: u.rem(5);

      &__song {
        font-weight: 400;
      }
    }
  }

  .toggleMore {
    width: 100%;
    iframe {
      margin-block-start: u.rem(10);
      margin-block-end: u.rem(7);
    }
  }
  .toggleMore.open {
    display: none;
  }
}
